@import "tailwindcss";

/* Optional nice defaults */
:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  background: white;
  color: rgb(15 23 42); /* slate-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
